header{
    font-family: 'Quicksand', sans-serif;
    background-image: url(../assets/header.jpg);
    width: 100%;
     background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
   }
   header .container{
    display: grid!important;
    grid-gap: 2rem;
   }
   header h2{
    font-size: 28px;
    font-weight: 600;
   }
   header p{
    font-size: 18px;
   }
header .btns .btn{
    padding: 10px 0px;
    margin-right: 20px;  
}
header .btns .btn:nth-of-type(2){
    background-color: #fff;
    color:var(--main-color)!important;
}
